<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Company</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="dist/owl-carousel.min.css" />
    <link rel="stylesheet" href="dist/style.css" />        
  </head>
      @@include('header.html')
      @@include('banner.html')
      @@include('connection.html')
      @@include('testimonial.html')
      @@include('workwithus.html')
      @@include('footer.html')
  <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/owl-carousel.min.js"></script>
    <script>
      $(document).ready(function(){
        $('#menuBtn').click(function(){
              $('#collapsibleNavbar').toggleClass('show');
          });
          $('#closeBtn').click(function(){
                    $('#collapsibleNavbar').removeClass('show');
                });
                $('.owl-carousel').owlCarousel({
                    loop: true,
                    autoplay:true,
                    margin: 20,
                    items: 1,
                    nav: true,
                    navigation: true,
                    dots: false,
                    responsive: {
                        0: {
                            item: 1,

                        },
                        768: {
                            items: 3,
                        }
                    }
                });
      });
    </script>

  </body>
</html>