$fontUrl : '../fonts/';
$header_bg : #171513;
$textColor1 : #FFFFFF;
$btnBgColor :#EF3B00;
$textColor2 :#4B4643;
$textColor3 : #F7F7F7;
$textColor4:#918582;
$textColor5 :#484340;
$bgColor1 :#2E2E2F;
$borderColor1:#959797;
$footerShade1:#2D2725;
$footerShade2:#171513;
$textColor6:#ACA2A0;
$xl-screen : "(min-width: 1200px)";
$lg-screen : "(max-width: 1199px)";
$md-screen : "(max-width: 991px)";
$sm-screen : "(max-width: 767px)";
$xs-screen : "(max-width: 575px)";
